Core/XSD/xsd__5_07__11.xsd

<?xml version="1.0" encoding="WINDOWS-1251" ?>
<!-- created by  Sbis 3.0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema">                                    

  <xs:element name="Ôàéë">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="Äîêóìåíò">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="ÆÓ÷Ïîëó÷Ñ÷Ô">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ÆÓ÷Ïîëó÷Ñ÷ÔÑòð">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="2" minOccurs="1" name="ÊîäÂèäÎïåð"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="ÑâÏðîä">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element maxOccurs="1" minOccurs="1" name="ÑâåäÞË">
                                    <xs:complexType>
                                      <xs:attribute name="ÈÍÍÞË" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="10"/>
                                            <xs:maxLength value="10"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="ÊÏÏ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="9"/>
                                            <xs:maxLength value="9"/>
                                            <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element maxOccurs="1" minOccurs="1" name="ÑâåäÈÏ">
                                    <xs:complexType>
                                      <xs:attribute name="ÈÍÍÔË" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="12"/>
                                            <xs:maxLength value="12"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="0" name="ÑâÊîìèñ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element maxOccurs="1" minOccurs="1" name="ÑâåäÞË">
                                    <xs:complexType>
                                      <xs:attribute name="ÈÍÍÞË" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="10"/>
                                            <xs:maxLength value="10"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name="ÊÏÏ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="9"/>
                                            <xs:maxLength value="9"/>
                                            <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element maxOccurs="1" minOccurs="1" name="ÑâåäÈÏ">
                                    <xs:complexType>
                                      <xs:attribute name="ÈÍÍÔË" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="12"/>
                                            <xs:maxLength value="12"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÍîìåðÏîð" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="12"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍîìÑ÷ÔÏðîä" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÑ÷ÔÏðîä" use="required">
                          <xs:annotation>
                            <xs:documentation>Äàòà â ôîðìàòå ÄÄ.ÌÌ.ÃÃÃÃ</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍîìÈñïðÑ÷Ô" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÄàòàÈñïðÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="3"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÈñïðÑ÷Ô" use="optional">
                          <xs:annotation>
                            <xs:documentation>Äàòà â ôîðìàòå ÄÄ.ÌÌ.ÃÃÃÃ</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÈñïðÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍîìÊÑ÷ÔÏðîä" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÄàòàÊÑ÷ÔÏðîä or @ÍîìÈñïðÊÑ÷Ô or @ÄàòàÈñïðÊÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="256"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÊÑ÷ÔÏðîä" use="optional">
                          <xs:annotation>
                            <xs:documentation>Äàòà â ôîðìàòå ÄÄ.ÌÌ.ÃÃÃÃ</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÊÑ÷ÔÏðîä or @ÍîìÈñïðÊÑ÷Ô or @ÄàòàÈñïðÊÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍîìÈñïðÊÑ÷Ô" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÄàòàÈñïðÊÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="3"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÈñïðÊÑ÷Ô" use="optional">
                          <xs:annotation>
                            <xs:documentation>Äàòà â ôîðìàòå ÄÄ.ÌÌ.ÃÃÃÃ</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÈñïðÊÑ÷Ô"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÊîäÂèäÑä" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1"/>
                              <xs:enumeration value="4"/>
                              <xs:enumeration value="3"/>
                              <xs:enumeration value="2"/>
                              <xs:enumeration value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÎÊÂ" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="3"/>
                              <xs:maxLength value="3"/>
                              <xs:pattern value="[0-9]{3}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÑòîèìÒîâÑ÷ÔÂñ" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÑóìÍÄÑÑ÷Ô" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@ÍîìÊÑ÷ÔÏðîä) and not(@ÄàòàÊÑ÷ÔÏðîä) and not(@ÍîìÈñïðÊÑ÷Ô) and not(@ÄàòàÈñïðÊÑ÷Ô)"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐàçÑòÊÑ÷ÔÓì" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@ÐàçÑòÊÑ÷ÔÓâ) and @ÍîìÊÑ÷ÔÏðîä"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÊÑ÷ÔÏðîä">
                                    <usch:error>0001.950.169</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@ÐàçÑòÊÑ÷ÔÓâ) and not(@ÐàçÍÄÑÊÑ÷ÔÓâ)">
                                    <usch:error>0001.950.170</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐàçÑòÊÑ÷ÔÓâ" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÊÑ÷ÔÏðîä">
                                    <usch:error>0001.950.169</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@ÐàçÑòÊÑ÷ÔÓì) and @ÍîìÊÑ÷ÔÏðîä"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐàçÍÄÑÊÑ÷ÔÓì" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÊÑ÷ÔÏðîä">
                                    <usch:error>0001.950.169</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@ÐàçÑòÊÑ÷ÔÓâ) and not(@ÐàçÍÄÑÊÑ÷ÔÓâ)">
                                    <usch:error>0001.950.170</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÐàçÑòÊÑ÷ÔÓì"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐàçÍÄÑÊÑ÷ÔÓâ" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÍîìÊÑ÷ÔÏðîä">
                                    <usch:error>0001.950.169</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÐàçÑòÊÑ÷ÔÓâ"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Èíäåêñ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="7"/>
                  <xs:maxLength value="7"/>
                  <xs:pattern value="[0-9]{7}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÍîìÊîðð" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÏðèçíÑâåä11" use="optional">
              <xs:annotation>
                <xs:appinfo>
                  <sch:pattern>
                    <sch:rule>
                      <sch:assert test="@ÍîìÊîðð > 0">
                        <usch:error>0001.950.233</usch:error>
                      </sch:assert>
                    </sch:rule>
                  </sch:pattern>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="1"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ÈäÔàéë" use="required">
        <xs:annotation>
          <xs:documentation>Ñîäåðæèò (ïîâòîðÿåò) èìÿ ñôîðìèðîâàííîãî ôàéëà (áåç ðàñøèðåíèÿ)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÏðîã" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÔîðì" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
