Core/XSD/xsd__5_08__09.xsd

<?xml version="1.0" encoding="WINDOWS-1251" ?>
<!-- created by  Sbis 3.0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema">                                    

  <xs:element name="‘‡ÈÎ">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="ƒÓÍÛÏÂÌÚ">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name=" ÌË„‡œÓ‰">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name=" ÌœÓ‰—Ú">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="2" minOccurs="1" name=" Ó‰¬Ë‰ŒÔÂ"/>
                          <xs:element maxOccurs="27" minOccurs="0" name="—‚–Â„ÕÓÏ">
                            <xs:complexType>
                              <xs:attribute name="–Â„ÕÓÏœÓÒÎ" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="13"/>
                                    <xs:maxLength value="29"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Œ ≈»" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="3"/>
                                    <xs:maxLength value="4"/>
                                    <xs:pattern value="([0-9]{3})|([0-9]{4})"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name=" ÓÎ“Ó‚œÓÒÎ" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="10"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="—ÚÓËÏ“Ó‚œÓÒÎ" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="17"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="10" minOccurs="0" name=" Ó‰¬Ë‰“Ó‚‡"/>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="ƒÓÍœ‰Ú‚ŒÔÎ">
                            <xs:complexType>
                              <xs:attribute name="ÕÓÏƒÓÍœ‰Ú‚ŒÔÎ" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="256"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ƒ‡Ú‡ƒÓÍœ‰Ú‚ŒÔÎ" use="required">
                                <xs:annotation>
                                  <xs:documentation>ƒ‡Ú‡ ‚ ÙÓÏ‡ÚÂ ƒƒ.ÃÃ.√√√√</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                    <xs:minLength value="10"/>
                                    <xs:pattern value="[0-9\-\.]{4,10}"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="—‚œÓÍÛÔ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element maxOccurs="1" minOccurs="1" name="—‚Â‰ﬁÀ">
                                    <xs:complexType>
                                      <xs:attribute name="»ÕÕﬁÀ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="10"/>
                                            <xs:maxLength value="10"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name=" œœ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="9"/>
                                            <xs:maxLength value="9"/>
                                            <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element maxOccurs="1" minOccurs="1" name="—‚Â‰»œ">
                                    <xs:complexType>
                                      <xs:attribute name="»ÕÕ‘À" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="12"/>
                                            <xs:maxLength value="12"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="0" name="—‚œÓÒ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element maxOccurs="1" minOccurs="1" name="—‚Â‰ﬁÀ">
                                    <xs:complexType>
                                      <xs:attribute name="»ÕÕﬁÀ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="10"/>
                                            <xs:maxLength value="10"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                      <xs:attribute name=" œœ" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="9"/>
                                            <xs:maxLength value="9"/>
                                            <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element maxOccurs="1" minOccurs="1" name="—‚Â‰»œ">
                                    <xs:complexType>
                                      <xs:attribute name="»ÕÕ‘À" use="required">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="12"/>
                                            <xs:maxLength value="12"/>
                                            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÕÓÏÂœÓ" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="12"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÕÓÏ—˜‘œÓ‰" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ƒ‡Ú‡—˜‘œÓ‰" use="required">
                          <xs:annotation>
                            <xs:documentation>ƒ‡Ú‡ ‚ ÙÓÏ‡ÚÂ ƒƒ.ÃÃ.√√√√</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÕÓÏ»ÒÔ—˜‘" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ƒ‡Ú‡»ÒÔ—˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="3"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ƒ‡Ú‡»ÒÔ—˜‘" use="optional">
                          <xs:annotation>
                            <xs:documentation>ƒ‡Ú‡ ‚ ÙÓÏ‡ÚÂ ƒƒ.ÃÃ.√√√√</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÕÓÏ»ÒÔ—˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÕÓÏ —˜‘œÓ‰" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ƒ‡Ú‡ —˜‘œÓ‰ or @ÕÓÏ»ÒÔ —˜‘ or @ƒ‡Ú‡»ÒÔ —˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="256"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ƒ‡Ú‡ —˜‘œÓ‰" use="optional">
                          <xs:annotation>
                            <xs:documentation>ƒ‡Ú‡ ‚ ÙÓÏ‡ÚÂ ƒƒ.ÃÃ.√√√√</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÕÓÏ —˜‘œÓ‰ or @ÕÓÏ»ÒÔ —˜‘ or @ƒ‡Ú‡»ÒÔ —˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÕÓÏ»ÒÔ —˜‘" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ƒ‡Ú‡»ÒÔ —˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="3"/>
                              <xs:minInclusive value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ƒ‡Ú‡»ÒÔ —˜‘" use="optional">
                          <xs:annotation>
                            <xs:documentation>ƒ‡Ú‡ ‚ ÙÓÏ‡ÚÂ ƒƒ.ÃÃ.√√√√</xs:documentation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@ÕÓÏ»ÒÔ —˜‘"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:minLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Œ ¬" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="3"/>
                              <xs:maxLength value="3"/>
                              <xs:pattern value="([0-9]{3})"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘¬" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@Œ ¬ and @Œ ¬ != 643"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="((../../@ÕÓÏ Ó=0 or (../../@ÕÓÏ Ó>0 and ../../@œËÁÌ—‚Â‰9=0)) and (( Ó‰¬Ë‰ŒÔÂ=33) or ( Ó‰¬Ë‰ŒÔÂ=34)) and @—ÚÓËÏœÓ‰—‘=0) or not(( Ó‰¬Ë‰ŒÔÂ=33) or ( Ó‰¬Ë‰ŒÔÂ=34))">
                                    <usch:error>0001.600.160.60</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@—ÚÓËÏœÓ‰ŒÒ‚)"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘20" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘18" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘10" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰—‘0" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÛÏÕƒ——‘20" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="((../../@ÕÓÏ Ó=0 or (../../@ÕÓÏ Ó>0 and ../../@œËÁÌ—‚Â‰9=0)) and (( Ó‰¬Ë‰ŒÔÂ=33) or ( Ó‰¬Ë‰ŒÔÂ=34)) and @—ÛÏÕƒ——‘20=0) or not(( Ó‰¬Ë‰ŒÔÂ=33) or ( Ó‰¬Ë‰ŒÔÂ=34))">
                                    <usch:error>0001.600.160.59</usch:error>
                                  </sch:assert>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@—ÚÓËÏœÓ‰—‘20"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÛÏÕƒ——‘18" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@—ÚÓËÏœÓ‰—‘18"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÛÏÕƒ——‘10" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="@—ÚÓËÏœÓ‰—‘10"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="—ÚÓËÏœÓ‰ŒÒ‚" use="optional">
                          <xs:annotation>
                            <xs:appinfo>
                              <sch:pattern>
                                <sch:rule>
                                  <sch:assert test="not(@—ÚÓËÏœÓ‰—‘)"/>
                                </sch:rule>
                              </sch:pattern>
                            </xs:appinfo>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="—ÚœÓ‰¡ÂÁÕƒ—20" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÚœÓ‰¡ÂÁÕƒ—18" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÚœÓ‰¡ÂÁÕƒ—10" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÚœÓ‰¡ÂÁÕƒ—0" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÛÏÕƒ—¬Ò œ20" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÛÏÕƒ—¬Ò œ18" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÛÏÕƒ—¬Ò œ10" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="—ÚœÓ‰ŒÒ‚¬Ò œ" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="»Ì‰ÂÍÒ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="7"/>
                  <xs:maxLength value="7"/>
                  <xs:pattern value="([0-9]{7})"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÕÓÏ Ó" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="œËÁÌ—‚Â‰9" use="optional">
              <xs:annotation>
                <xs:appinfo>
                  <sch:pattern>
                    <sch:rule>
                      <sch:assert test="@ÕÓÏ Ó > 0">
                        <usch:error>0001.950.341</usch:error>
                      </sch:assert>
                    </sch:rule>
                  </sch:pattern>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="1"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="»‰‘‡ÈÎ" use="required">
        <xs:annotation>
          <xs:documentation>—Ó‰ÂÊËÚ (ÔÓ‚ÚÓˇÂÚ) ËÏˇ ÒÙÓÏËÓ‚‡ÌÌÓ„Ó Ù‡ÈÎ‡ (·ÂÁ ‡Ò¯ËÂÌËˇ)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="¬ÂÒœÓ„" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="¬ÂÒ‘ÓÏ" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
